#game-area{
    width: 600px;
    height: 600px;
}

[class^=table-cell]{
    width: 1fr;
    height: 1fr;
}

.table-cell-red-1{
    background-color: rgb(200, 0, 0);
}

.table-cell-red-2{
    background-color: rgb(150, 0, 0);
}

.table-cell-red-3{
    background-color: rgb(255, 0, 0);
}

.table-cell-green-1{
    background-color: rgb(0, 200, 0);
}

.table-cell-green-2{
    background-color: rgb(0, 150, 0);
}

.table-cell-green-3{
    background-color: rgb(0, 255, 0);
}

